.sidebar>summary::before {
  position: absolute;
  content: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='22'%3E%3Cpath d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z'/%3E%3C/svg%3E");
  ;
  top: 7px;
  right: 5px;
}

*{
  color: #404355;
}

.sidebar[open]>summary {
  text-align: center;
  padding-right: 1rem;
  margin-right: unset;
}

.sidebar[open]>summary::before {
  right: 5px;
  top: 13px;
  transform: rotate(180deg);
}

.main {
  grid-template-columns: min-content 1fr;
}

details.leftArw {
  position: relative;
  list-style: none;
}

details.leftArw>summary::before {
  position: absolute;
  content: "\25B8";
  font-size: 2rem;
  top: -3px;
  right: .1rem;
  transition: transform .35s ease;
}

details[open]>summary::before {
  transform: rotate(90deg);
}

details.opts>summary {
  border-radius: .25rem;
}

details.opts[open]>summary {
  border-radius: .25rem;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.selectedPage {
  cursor: inherit;
}

.PageContents {
  display: grid;
  grid-template-rows: min-content 1fr;
}
details>summary{
  user-select: none;
}

#grph{
  display: grid;
  width: 550px;
  height: 400px;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;

}

.col{
  grid-row: 12;
  /* align-self: end; */
}
.col>div{
  transition: opacity 1s;
  /* visibility: visible !important; */
  /* opacity: initial !important; */
  z-index: 2;
}

.col:hover>div{
  visibility: visible;
  opacity: 1;
}

.search {
  display: grid;
  grid-template-columns: min-content 1fr;
  box-sizing: border-box;
  /* background-color: #dcdee6; */
  background-color: #dcdee67a;
  height: 1.7rem;
  line-height: 1.7rem;
  border-radius: 3px;
  width: 17rem;
  font-size: 1.2rem;
}


.searchIconOuter {
  height: 1.6rem;
  overflow: hidden;
  box-sizing: border-box;
  transform: rotate(135deg);
  width: min-content;
}

.searchIconInner {
  font-size: 4rem;
  line-height: 1.3rem;
  width: fit-content;
  rotate: 35px;
  transform: rotate(180deg);
  padding-right: 0.1rem;
}

#searchContainer>#searchBox:focus + div{
  display: flex;
  flex-direction: column;
  top: 1.71rem;
} 


#searchContainer> div:hover{
  display: flex;
  flex-direction: column;
  top: 1.71rem;
}


.searchOpt{
  width: 65%;
  margin: auto;
  border-bottom: 2px solid #e5e7eb;
}

.searchOpt:hover{
  background-color: #dedde08e;
}