.sidebar>summary::before {
  position: absolute;
  content: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='22'%3E%3Cpath d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z'/%3E%3C/svg%3E");
  ;
  top: 7px;
  right: 5px;
}

.sidebar[open]>summary {
  text-align: center;
  padding-right: 1rem;
  margin-right: unset;
}

.sidebar[open]>summary::before {
  right: 5px;
  top: 13px;
  transform: rotate(180deg);
}

.main {
  grid-template-columns: min-content 1fr;
}

details.leftArw {
  position: relative;
  list-style: none;
}

details.leftArw>summary::before {
  position: absolute;
  content: "\25B8";
  font-size: 2rem;
  top: -3px;
  right: .1rem;
  transition: transform .35s ease;
}

details[open]>summary::before {
  transform: rotate(90deg);
}

details.opts>summary {
  border-radius: .25rem;
}

details.opts[open]>summary {
  border-radius: .25rem;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.selectedPage {
  cursor: inherit;
}

.PageContents {
  display: grid;
  grid-template-rows: min-content 1fr;
}